<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Customers</h1>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="../../../assets/img/home/user.png">
      </div>
      <h2>Create New Customer</h2>
    </div>
    <form [formGroup]="customerForm" novalidate>
      <div class="col-8 mx-auto">
        <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" formControlName="name">
              <div
                *ngIf="name.invalid && (name.dirty || name.touched) || name.errors?.empty">
                <span *ngIf="name.errors.pattern" style="color: red">Wrong format, ex: Nguyen Thi Xuan Hong</span>
                <span *ngIf="name.errors.required || name.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="code" class="col-sm-3 col-form-label">Code</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="code" formControlName="customerCode">
              <div
                *ngIf="customerCode.invalid && (customerCode.dirty || customerCode.touched) || customerCode.errors?.empty || customerCode.errors?.existed">
                <span *ngIf="customerCode.errors.pattern" style="color: red">Wrong format, ex: KH-0123</span>
                <span *ngIf="customerCode.errors.required || customerCode.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="birthday" class="col-sm-3 col-form-label">Birthday</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="birthday" formControlName="birthDay">
              <div
                *ngIf="birthDay.invalid && (birthDay.dirty || birthDay.touched) || birthDay.errors?.empty">
                <span *ngIf="birthDay.errors.required || birthDay.errors.empty" style="color: red">Please choose a date!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="idCard" class="col-sm-3 col-form-label">Id card</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="idCard" formControlName="idCard">
              <div
                *ngIf="idCard.invalid && (idCard.dirty || idCard.touched) || idCard.errors?.empty">
                <span *ngIf="idCard.errors.pattern" style="color: red">Wrong format, ex: 123456789</span>
                <span *ngIf="idCard.errors.required || idCard.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-sm-3 col-form-label">Phone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="phone" formControlName="phone">
              <div
                *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                <span *ngIf="phone.errors.pattern" style="color: red">Wrong format, ex: 090xxxxxxx or 091xxxxxxx or (84)+90xxxxxxx or (84)+91xxxxxxx</span>
                <span *ngIf="phone.errors.required || phone.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email" formControlName="email">
              <div
                *ngIf="email.invalid && (email.dirty || email.touched) || email.errors?.empty">
                <span *ngIf="email.errors.email" style="color: red">Wrong format, ex: abc@gmail.com</span>
                <span *ngIf="email.errors.required || email.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="address" formControlName="address">
              <div
                *ngIf="address.invalid && (address.dirty || address.touched) || address.errors?.empty">
                <span *ngIf="address.errors.required || address.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="gender" class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-9">
              <select class="form-control"
                      id="gender"
                      name="gender"
                      formControlName="gender">
                <option [value]="'-1'">Other</option>
                <option [value]="'0'">Female</option>
                <option [value]="'1'">Male</option>
              </select>
              <div
                *ngIf="gender.invalid && (gender.dirty || gender.touched) || gender.errors?.empty">
                <span *ngIf="gender.errors.required || gender.errors.empty" style="color: red">Please choose gender!!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="customerType" class="col-sm-3 col-form-label">Customer type</label>
            <div class="col-sm-9">
              <select id="customerType"
                      class="form-control"
                      formControlName="customerType" >
                <option [ngValue]="item" *ngFor="let item of customerTypes" >{{item.name}}</option>
              </select>
              <div
                *ngIf="customerType.invalid && (customerType.dirty || customerType.touched) || customerType.errors?.empty">
                <span *ngIf="customerType.errors.required || customerType.errors.empty" style="color: red">Please choose customer type!!</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="mx-2">
              <a  class="button button--cancel cancel-banner-btn" [routerLink]="['/customer/customer-list']" >Cancel</a>
            </div>
            <div class="mx-2">
              <a class="button button--active home-banner-btn"
                 (click)="onSubmit()" >Create</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>
<!-- ================ Explore section end ================= -->

