<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>OUR FACILITIES</h1>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ Explore section start ================= -->
<!--<div *ngIf="checking == 1" style="width: 100%; height: 700px">-->
<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="../../../assets/img/home/user.png">
      </div>
      <h2>Update Facility</h2>
    </div>
    <form [formGroup]="facilityForm" id="showCreateFormVilla" method="post">
      <div class="col-8 mx-auto">
        <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
          <input type="hidden" formControlName="id">
          <input type="hidden" formControlName="serviceImage">
          <input type="hidden" formControlName="active">
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" formControlName="serviceName">
              <div
                *ngIf="serviceName.invalid && (serviceName.dirty || serviceName.touched) || serviceName.errors?.empty">
                <span *ngIf="serviceName.errors.required || serviceName.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="code" class="col-sm-3 col-form-label">Code</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="code" formControlName="serviceCode">
              <div
                *ngIf="serviceCode.invalid && (serviceCode.dirty || serviceCode.touched) || serviceCode.errors?.empty">
                <span *ngIf="serviceCode.errors.pattern" style="color: red">Wrong format, ex: DV-0123</span>
                <span *ngIf="serviceCode.errors.required || serviceCode.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="floorSquare" class="col-sm-3 col-form-label">Floor square</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="floorSquare" formControlName="serviceArea">
              <div
                *ngIf="serviceArea.invalid && (serviceArea.dirty || serviceArea.touched) || serviceArea.errors?.empty">
                <span *ngIf="serviceArea.errors.required || serviceArea.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="rentalFee" class="col-sm-3 col-form-label">Rental Fee</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="rentalFee" step="any" formControlName="serviceCost">
              <div
                *ngIf="serviceCost.invalid && (serviceCost.dirty || serviceCost.touched) || serviceCost.errors?.empty">
                <span *ngIf="serviceCost.errors.required || serviceCost.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="maximumPeople" class="col-sm-3 col-form-label">Maximum people</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="maximumPeople" formControlName="serviceMaxPeople">
              <div
                *ngIf="serviceMaxPeople.invalid && (serviceMaxPeople.dirty || serviceMaxPeople.touched) || serviceMaxPeople.errors?.empty">
                <span *ngIf="serviceMaxPeople.errors.required || serviceMaxPeople.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="rentType" class="col-sm-3 col-form-label">Rent type</label>
            <div class="col-sm-9">
              <select class="form-control"
                      id="rentType"
                      name="rentType"
                      formControlName="rentType" [compareWith]="compareFn">
                <option [ngValue]="item" *ngFor="let item of rentTypes">{{item.rentTypeName}}</option>
              </select>
              <div
                *ngIf="rentType.invalid && (rentType.dirty || rentType.touched) || rentType.errors?.empty">
                          <span *ngIf="rentType.errors.required || rentType.errors.empty"
                                style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="rentType" class="col-sm-3 col-form-label">Facility type</label>
            <div class="col-sm-9">
              <select class="form-control"
                      id="facilityType"
                      name="rentType"
                      formControlName="facilityType" [compareWith]="compareFnType">
                <option [ngValue]="item" *ngFor="let item of facilityTypes">{{item.facilityTypeName}}</option>
              </select>
              <div
                *ngIf="facilityType.invalid && (facilityType.dirty || facilityType.touched) || facilityType.errors?.empty">
                          <span *ngIf="facilityType.errors.required || facilityType.errors.empty"
                                style="color: red">Empty! Input please!</span>
              </div>
            </div>
          </div>
          <!--                 House and Villa-->
          <div id="villaAndHouseOnly">
            <div class="form-group row">
              <label for="roomStandard" class="col-sm-3 col-form-label">Room standard</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="roomStandard" formControlName="standardRoom">
                <div
                  *ngIf="standardRoom.invalid && (standardRoom.dirty || standardRoom.touched) || standardRoom.errors?.empty">
                  <span *ngIf="standardRoom.errors.required || standardRoom.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-sm-3 col-form-label">Description</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="description"
                       formControlName="descriptionOtherConvenience">
                <div
                  *ngIf="descriptionOtherConvenience.invalid && (descriptionOtherConvenience.dirty ||
                               descriptionOtherConvenience.touched) || descriptionOtherConvenience.errors?.empty">
                              <span
                                *ngIf="descriptionOtherConvenience.errors.required || descriptionOtherConvenience.errors.empty"
                                style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="numberFloor" class="col-sm-3 col-form-label">Number of floor</label>
              <div class="col-sm-9">
                <input
                  type="text" class="form-control"
                  id="numberFloor" formControlName="numberOfFloors">
                <div
                  *ngIf="numberOfFloors.invalid && (numberOfFloors.dirty || numberOfFloors.touched) || numberOfFloors.errors?.empty">
                  <span *ngIf="numberOfFloors.errors.required || numberOfFloors.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <!--                Villa-->
          <div id="villaOnly1">
            <div class="form-group row">
              <label for="poolSquare" class="col-sm-3 col-form-label">Pool square</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="poolSquare" formControlName="poolArea">
                <div
                  *ngIf="poolArea.invalid && (poolArea.dirty || poolArea.touched) || poolArea.errors?.empty">
                  <span *ngIf="poolArea.errors.required || poolArea.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <!--                Room-->
          <div id="roomOnly">
            <div class="form-group row">
              <label for="freeServiceInclude" class="col-sm-3 col-form-label">Free service include</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="freeServiceInclude" formControlName="freeAttachedService">
                <div
                  *ngIf="freeAttachedService.invalid && (freeAttachedService.dirty || freeAttachedService.touched) || freeAttachedService.errors?.empty">
                              <span *ngIf="freeAttachedService.errors.required || freeAttachedService.errors.empty"
                                    style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="mx-2">
              <a class="button button--cancel cancel-banner-btn"
                 [routerLink]="['/facility/facility-list']">Cancel</a>
            </div>
            <div class="mx-2">
              <a class="button button--active home-banner-btn"
                 (click)="onSubmit(id)">Update</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!--</div>-->
<!-- ================ Explore section end ================= -->

