<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Customers</h1>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-20px">
      <div class="section-intro__style">
        <img alt="" src="../../../assets/img/home/user.png">
      </div>
      <h2>Welcome!</h2>
    </div>
    <p class="mt-3">Searching customer </p>
    <div class="form-inline my-lg-3">
      <div class="row">
        <div class="col">
          <input class="form-control mr-sm-2" type="search" placeholder="name" aria-label="Search"
                 name="keySearch1" id="keySearch1" #keySearch1>
        </div>
        <div class="col">
          <input class="form-control mr-sm-2" type="search" placeholder="Phone" aria-label="Search"
                 name="keySearch2" id="keySearch2" #keySearch2>
        </div>
        <div class="col">
          <input class="form-control mr-sm-2" type="search" placeholder="Phone" aria-label="Search"
                 name="keySearch2" id="keySearch3" #keySearch3>
        </div>
        <div class="col">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
        </div>
      </div>
    </div>
    <table class="table table-borderless table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">ID Card</th>
        <th scope="col">Class</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers; index as i">
        <td>{{i + 1}}</td>
        <td>{{customer.customerCode}}</td>
        <td>{{customer.name}}</td>
        <td *ngIf="customer.gender==1">Nam</td>
        <td *ngIf="customer.gender==0">Nữ</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.customerType.name}}</td>
        <td>{{customer.address}}</td>
        <td>
          <div class="dropout d-flex align-items-center">
            <button class="more">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <button class="btn btn-success w-100" >
                  <i class='ti-user'></i>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-warning w-100"  [routerLink]="['/customer/customer-edit', customer.id]">
                  <i class='ti-settings'></i>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-danger w-100" data-target="#deleteModal"
                        data-toggle="modal"
                       (click)="sendNameProduct(customer.id, customer.name)">
                  <i class='bx bx-trash'></i>
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <hr/>
<!--    <div class="col-12" style="display: flex; justify-content: flex-end; padding-right: 20px">-->
<!--      <a type="button" class="btn btn-outline-info" (click)="previousPage()">Previous</a>-->
<!--      <span>{{pageNumber + 1}}</span>/<span>{{totalPages}}</span>-->
<!--      <a type="button" class="btn btn-outline-info" (click)="nextPage()">Next</a>-->
<!--    </div>-->
    <nav class="blog-pagination d-flex justify-content-center py-3">
      <ul class="pagination">
        <li class="page-item px-1">
          <a  class="page-link" (click)="previousPage()">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link">
            <span>{{pageNumber + 1}}</span>
            <span>/</span>
            <span>{{totalPages}}</span>
          </a>
        </li>
        <li class="page-item px-1">
          <a  class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
<!--    <div style="justify-content: space-around;display: flex;">-->
<!--      <pagination-controls (pageChange)="p = $event" class=" page-item"></pagination-controls>-->
<!--    </div>-->
<!--    |paginate : { itemsPerPage: 5, currentPage: p }-->
  </div>
</section>
<!-- ================ Explore section end ================= -->
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete customer
          <span class="text-danger font-weight-bold" id="nameDelete">{{nameDelete}}</span>
        </p>
      </div>
      <div class="modal-footer">
        <div class="mx-auto row">
          <button #closeModal type="button" class="btn btn-secondary mx-1" data-dismiss="modal" >Cancel</button>
          <button type="button" class="btn btn-danger mx-1" id="id_delete" (click)="deleteCustomer(closeModal)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
